.main{

    padding: 5rem 10rem;
    max-width: 150rem;
    margin: 0 auto;

    @include breakpoint(medium){
        padding: 7.5rem 10rem;
    }

    @include breakpoint(large){
        padding: 10rem;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    @include breakpoint(medium){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 4rem;
    }

    @include breakpoint(large){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 6rem;
    }

    &__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $snow;
    }
}

h1{
    font-size: 4rem;
    margin: 0 0 4rem 0;
}

.modal{
    display: none;

    background: $snow;
    position: fixed;
    height: auto;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8rem;

    &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include breakpoint(large){
            flex-direction: row;
        }
    }

    p{
        font-weight: 600;
        font-size: 1.6rem;
    }

    &__image{
        padding: 2.5rem 0 0 0;
        
        @include breakpoint(large){
            padding: 0 0 0 5rem;
        }
    }

    &__name{
        font-size: 5rem;
    }

    &__title{
        color: blue;
        font-size: 3rem;
        margin: 2rem 0 3rem 0;
    }
}

input{
    display: none;
}

label{
    width: 100%;
    cursor: pointer;
}

input:checked ~ .modal{
    display: block;
}
